.hero-unit {
  @include gradient-horizontal-white-transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
  @include gridle_state(tablet-landscape desktop site-width) {
    min-height: 550px;
    overflow: hidden;
  }
  .hero-unit-container {
    @include container;
  }
  .hero-unit-row {
    @include gridle_row;
  }
  .hero-unit-body {
    @include gridle_grid(12);
    @include gridle_state(tablet-landscape desktop) {
      @include gridle_grid(9);
    }
    @include gridle_state(site-width) {
      @include gridle_grid(6);
    }
    > .content {}
  }
  .hero-header {}
  .title {
    color: $global-color-tertiary;
    margin: 0 0 $slug-height/4;
  }
  .intro,
  .details {
    font-size: 1.125em;
    @include gridle_state(mobile-landscape tablet-portrait tablet-landscape desktop site-width) {
      font-size: 1.5em;
    }
  }
  .intro {}
  .details {}
  .price {
    font-weight: bold;
  }
  .quantity {}
  .button-wrapper {
    margin-bottom: 0;
  }
  .button {
    @extend %button-red-square;
  }
  .slick {
    @include remove;
  }

  &.has-feature {
    .hero-unit-body {
      margin-bottom: $slug-height/2;
      @include gridle_state(tablet-landscape desktop) {
        @include gridle_grid(8);
        margin-bototm: 0;
      }
      > .content {}
    }
    .hero-feature {
      @include gridle_grid(12);
      visibility: visible;
      z-index: 1;
      @include gridle_state(tablet-landscape desktop) {
        @include gridle_grid(4);
      }
      @include gridle_state(site-width) {
        @include gridle_grid(6);
      }
      &.slick {
        margin-bottom: $slug-height/3;
        @include gridle_state(tablet-landscape desktop site-width) {
          margin-bottom: 0;
        }
      }
      > .content {}
      .feature-image {}
      .image {
        display: block;
        img {
          display: block;
          margin: 0 auto;
        }
      }
    }
  }

  .home & {
    .hero-unit-body {
      @include gridle_state(tablet-landscape desktop) {
        @include gridle_grid(10);
      }
      @include gridle_state(site-width) {
        @include gridle_grid(8);
      }
      > .content {}
    }
    .hero-header {}
    .title {
      font-size: 6.25em;
    }
    .intro,
    .details {
      font-size: 1.5em;
      @include gridle_state(mobile-landscape tablet-portrait tablet-landscape desktop site-width) {
        font-size: 2em;
      }
    }
    .intro {}
    .details {}
    .price {}
    .quantity {}
    .button-wrapper {}
    .button {}
  }

  &.parallax {
    .parallax-active & {
      background-image: none !important;
      background-color: transparent !important;
      min-height: 400px;
    }
  }

  &.slider,
  &.bg-slider {
    .hero-unit-row {}
    .hero-unit-body {
      //margin-bottom: $slug-height/2;
      pointer-events: none;
      z-index: 1;
      @include gridle_state(tablet-portrait tablet-landscape desktop site-width) {
        padding-left: $gutter-width*3.5;
      }
      @include gridle_state(tablet-portrait) {
        padding-right: $gutter-width*3.5;
      }
      @include gridle_state(tablet-landscape desktop site-width) {
        //margin-bottom: 0;
      }
      @include gridle_state(tablet-landscape desktop site-width) {
        padding-right: 0;
      }
      @include gridle_state(wxga) {
        padding-left: 0;
      }
      > .content {}
      a {
        pointer-events: all;
      }
    }
    .hero-header {}
    .title {}
    .intro,
    .details {}
    .intro {}
    .details {}
    .price {}
    .quantity {}
    .button-wrapper {}
    .button {
      pointer-events: all;
    }
    .hero-unit-background {
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin-bottom: 0;
      visibility: visible;
      .slick-list,
      .slick-track {
        height: 100%;
      }
      .slick-list {}
      .slick-track {
        height: 100%;
      }
      .slide {
        @include transparent-color-overlay(#fff, .70);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        @include gridle_state(tablet-landscape desktop site-width) {
          @include gradient-horizontal-white-transparent;
        }
      }
    }
    .home & {
      .hero-unit-body {
        > .content {}
      }
      .hero-header {}
      .title {}
      .intro,
      .details {}
      .intro {}
      .details {}
      .price {}
      .quantity {}
      .button-wrapper {}
      .button {}
    }
  }

  &.slider {
    //padding: 0;
    .hero-unit-row {}
    .slick {
      //@include gridle_grid(12);
      .slick-list,
      .slick-track {}
      .slick-list {}
      .slick-track {}
      .slide {
        //@include row;
        //padding: $slug-height 0;
      }
    }
    .hero-unit-body {
      display: block;
      visibility: visible;
      > .content {
        @include clearfix;
      }
      .slick-list {}
      .slick-track {}
      .slide {}
    }
    .hero-header {}
    .title {}
    .intro,
    .details {}
    .intro {}
    .details {}
    .price {}
    .quantity {}
    .button-wrapper {}
    .button {}
    .home & {
      .hero-unit-body {
        > .content {}
      }
      .hero-header {}
      .title {}
      .intro,
      .details {}
      .intro {}
      .details {}
      .price {}
      .quantity {}
      .button-wrapper {}
      .button {}
    }
  }

  &.bg-slider {
    .hero-unit-row {}
    .hero-unit-body {
      > .content {}
    }
    .hero-header {}
    .title {}
    .intro,
    .details {}
    .intro {}
    .details {}
    .price {}
    .quantity {}
    .button-wrapper {}
    .button {}
    .hero-unit-background {
      .slick-list {}
      .slick-track {}
      .slide {}
    }
    .home & {
      .hero-unit-body {
        > .content {}
      }
      .title {}
      .intro,
      .details {}
      .intro {}
      .details {}
      .price {}
      .quantity {}
      .button {}
    }
  }

  &.map {
    //min-height: 400px;
    padding: 0;
    z-index: 2;
    @include gridle_state(tablet-landscape desktop site-width) {
      //min-height: 550px;
      overflow: visible;
    }
    .hero-unit-container {
      max-width: none;
      padding: 0 $gutter-width/2;
    }
    .hero-unit-row {}
    .details-toggle {
      @include remove;
      //@include transparent(#fff, .5);
      @include transparent(#000, .65);
      border: $white-border;
      color: #fff;
      border-radius: 3px;
      padding: $slug-height/6 $gutter-width;
      position: absolute;
      left: $gutter-width/2;
      top: $slug-height/6;
      text-shadow: 1px 1px 1px #000;
      z-index: 3;
      @include gridle_state(mobile-portrait mobile-landscape tablet-portrait tablet-landscape desktop site-width) {
        display: block;
        visibility: visible;
      }
      &:hover {
        background-color: $global-color-primary;
      }
      .icon {
        @include icon-list;
        font-size: .6875em;
        vertical-align: middle;
      }
      .label {
        &.show {
          @include remove;
          @include gridle_state(tablet-portrait tablet-landscape desktop site-width) {
            display: inline;
            visibility: visible;
          }
        }
        &.hide {
          @include remove;
        }
      }
    }
    .street-view-toggle {
      //@include transparent(#fff, .5);
      @include transparent(#000, .65);
      border: $white-border;
      border-radius: 3px;
      color: #fff;
      padding: $slug-height/6 $gutter-width;
      position: absolute;
      left: $gutter-width/2;
      top: $slug-height/6;
      text-shadow: 1px 1px 1px #000;
      z-index: 3;
      @include gridle_state(mobile-portrait mobile-landscape tablet-portrait tablet-landscape ) {
        left: $gutter-width*3.9;
      }
      @include gridle_state(desktop site-width) {
        left: $gutter-width*8.5;
      }
      &:hover {
        background-color: $global-color-primary;
      }
      .icon {
        @include icon-street-view;
        font-size: .6875em;
        vertical-align: middle;
      }
      .label {
        &.show {
          @include remove;
          @include gridle_state(desktop site-width) {
            display: inline;
            visibility: visible;
          }
        }
        &.hide {
          @include remove;
        }
      }
    }
    .directions-toggle {
      //@include transparent(#fff, .5);
      @include transparent(#000, .65);
      border: $white-border;
      border-radius: 3px;
      color: #fff;
      padding: $slug-height/6 $gutter-width;
      position: absolute;
      left: $gutter-width/2;
      top: $slug-height*1.05;
      text-shadow: 1px 1px 1px #000;
      z-index: 3;
      @include gridle_state(mobile-portrait) {
        left: $gutter-width/2;
        top: $slug-height/1.033333333333333;
      }
      @include gridle_state(mobile-landscape tablet-portrait tablet-landscape ) {
        left: $gutter-width*7.2;
      }
      @include gridle_state(mobile-landscape tablet-portrait tablet-landscape desktop site-width) {
        top: $slug-height/6;
      }
      @include gridle_state(desktop site-width) {
        left: $gutter-width*18.45;
      }
      &:hover {
        background-color: $global-color-primary;
      }
      .icon {
        //@include icon-nav-point;
        @include icon-signs;
        font-size: .6875em;
        vertical-align: middle;
      }
      .label {
        &.show {
          @include remove;
        }
        &.hide {
          @include remove;
        }
        &.get {
          @include remove;
          @include gridle_state(desktop site-width) {
            display: inline;
            visibility: visible;
          }
        }
      }
    }
    .center-map {
      //@include transparent(#fff, .5);
      @include transparent(#000, .65);
      border: $white-border;
      border-radius: 3px;
      color: #fff;
      padding: $slug-height/6 $gutter-width;
      position: absolute;
      left: $gutter-width/2;
      top: $slug-height*1.9;
      text-shadow: 1px 1px 1px #000;
      z-index: 3;
      @include gridle_state(mobile-portrait) {
        left: $gutter-width*3.9;
        top: $slug-height/1.033333333333333;
      }
      @include gridle_state(mobile-landscape tablet-portrait tablet-landscape ) {
        left: $gutter-width*10.35;
      }
      @include gridle_state(mobile-landscape tablet-portrait tablet-landscape desktop site-width) {
        top: $slug-height/6;
      }
      @include gridle_state(desktop site-width) {
        left: $gutter-width*27;
      }
      &:hover {
        background-color: $global-color-primary;
      }
      .icon {
        //@include icon-map-marker;
        @include icon-nav-point;
        font-size: .6875em;
        vertical-align: middle;
      }
      .label {
        @include remove;
        @include gridle_state(desktop site-width) {
          display: inline;
          visibility: visible;
        }
      }
    }
    .map-display {
      @include gridle_grid(12);
      padding: 0 !important;
      //position: absolute;
      //top: 0;
      //bottom: 0;
      //left: 0;
      //right: 0;
      height: 100%;
      z-index: 2;
      > .content {
        height: 100%;
      }
    }
    .hero-unit-body {
      @include remove;
      @include transparent(#000, .65);
      color: #fff;
      opacity: 0;
      position: absolute;
      padding-top: $slug-height/6;
      padding-bottom: $slug-height/6;
      pointer-events: none;
      bottom: $slug-height/2;
      //top: $slug-height * 1.966666666666667;
      left: 0;
      right: 10%;
      width: auto;
      z-index: 3;
      //@include gridle_state(tablet-portrait tablet-landscape desktop site-width) {
      //  display: block;
      //  visibility: visible;
      //}
      @include gridle_state(mobile-portrait mobile-landscape tablet-portrait tablet-landscape desktop site-width) {
        display: block;
        visibility: visible;
      }
      @include gridle_state(mobile-landscape tablet-portrait tablet-landscape desktop site-width) {
        right: 25%;
      }
      @include gridle_state(mobile-landscape tablet-portrait) {
        //top: $slug-height * 1.466666666666667;
      }
      @include gridle_state(tablet-landscape) {
        //top: $slug-height * 1.766666666666667;
      }
      @include gridle_state(desktop site-width) {
        right: 45%;
        //top: $slug-height * 3.6;
      }
      @include gridle_state(desktop) {
        padding: $slug-height/4 $gutter-width/1.333333333333333;
      }
      @include gridle_state(site-width) {
        padding: $slug-height/2 $gutter-width*1.5;
      }
      > .content {}
      a,
      form {
        pointer-events: none;
      }
    }
    .hero-header {}
    .title {
      @include multiline-ellipsis(2.25, 1, 1, 16px, transparent);
      color: #fff;
      font-size: 2.25em;
    }
    .date-time {
      @include multiline-ellipsis(1.125, 1.25, 1, 16px, transparent);
    }
    .date {}
    .time {}
    .description {
      @include multiline-ellipsis(1.125, 1.25, 4, 16px, transparent);
      @include gridle_state(tablet-landscape desktop) {
        @include multiline-ellipsis(1.125, 1.25, 8, 16px, transparent);
      }
    }
    .button-wrapper {}
    .button {
      @extend %small-button;
      pointer-events: all;
    }
    iframe {
      @include breakout;
      //height: 100%;
      min-height: 250px;
      @include gridle_state(mobile-portrait mobile-lanscape tablet-portrait) {
        min-height: 400px;
      }
      @include gridle_state(tablet-landscape desktop site-width) {
        min-height: 550px;
      }
    }
    .google-map {
      min-height: 100%;
      height: 250px;
      @include gridle_state(mobile-portrait mobile-landscape tablet-portrait) {
        height: 400px;
      }
      @include gridle_state(tablet-landscape desktop site-width) {
        height: 550px;
      }
    }

    &.has-body {
      .map-display {
        > .content {}
      }
    }

    .street-view {
      height: 100%;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      z-index: 0;
    }

    .directions {
      @extend %form;
      @include gridle_grid(12);
      background: $global-color-gray-5;
      margin: 0;
      max-height: 0;
      min-height: 0;
      overflow: hidden;
      padding-top: 0;
      padding-bottom: 0;
      //position: absolute;
      position: relative;
      //top: 100%;
      width: 100%;
      z-index: 0;
      > .content {
        padding-bottom: $slug-height/12;
        padding-top: $slug-height/12;
        @include gridle_state(mobile-landscape tablet-portrait tablet-landscape desktop site-width) {
          padding-bottom: $slug-height/3;
          padding-top: $slug-height/3;
        }
      }
    }
    input.start-location {
      @include gridle_state(mobile-landscape) {
        width: calc(100% - 119px);
      }
      @include gridle_state(tablet-portrait tablet-landscape desktop site-width) {
        width: calc(100% - 321px);
      }
    }
    button.get-directions {
      @extend %button-red-square;
      .icon {
        @include icon-get-directions;
      }
      .label {
        @include gridle_state(wearable mobile-landscape) {
          @include remove;
        }
      }
    }
    button.close-directions {
      @extend %button-red-square;
      .icon {
        @include icon-cancel;
        @include gridle_state(mobile-portrait) {
          //@include remove;
        }
      }
      .label {
        @include remove;
        @include gridle_state(mobile-portrait) {
          display: inline;
          visibility: visible;
        }
      }
    }
    button.print-directions {
      @include remove;
      @extend %button-red-square;
      width: 100%;
      .icon {
        @include icon-print;
      }
      .label {
        @include gridle_state(wearable mobile-landscape) {
          @include remove;
        }
      }
    }

    &.details-active {
      .details-toggle {
        .icon {
          //@include icon-minus;
        }
        .label {
          &.show {
            @include remove;
          }
          &.hide {
            @include gridle_state(desktop site-width) {
              display: inline;
              visibility: visible;
            }
          }
        }
      }
      .hero-unit-body {
        opacity: 1;
        a,
        form {
          pointer-events: all;
        }
      }
    }

    &.street-view-active {
      .street-view {
        opacity: 1;
        pointer-events: all;
      }
      .street-view-toggle {
        .icon {
          //@include icon-minus;
        }
        .label {
          &.show {
            @include remove;
          }
          &.hide {
            @include gridle_state(desktop site-width) {
              display: inline;
              visibility: visible;
            }
          }
        }
      }
    }

    &.direction-form-active {
      .directions-toggle {
        .icon {
          //@include icon-minus;
        }
        .label {
          &.show {
            @include remove;
          }
          &.hide {
            @include gridle_state(desktop site-width) {
              display: inline;
              visibility: visible;
            }
          }
          &.get {
            @include remove;
          }
        }
      }
      .directions {
        max-height: 186px;
        @include gridle_state(mobile-landscape tablet-portrait desktop site-width) {
          max-height: 102px;
        }
      }
    }

    &.directions-active {
      .directions-toggle {
        .icon {}
        .label {
          &.show {
            @include gridle_state(tablet-portrait tablet-landscape desktop site-width) {
              display: inline;
              visibility: visible;
            }
          }
          &.hide {}
          &.get {
            @include remove;
          }
        }
      }
      button.print-directions {
        display: inline-block;
        visibility: visible;
      }
      &.direction-form-active {
        .directions-toggle {
          .icon {}
          .label {
            &.show {
              @include remove;
            }
            &.hide {}
            &.get {}
          }
        }
        .directions {
          max-height: 99999px;
        }
      }
    }
  }

}