//Card Colors
%card-color-dark {
  color: #fff;
  > .content {}
  .article-image {}
  .image {
    img {}
  }
  .article-body {}
  .article-title {}
  .price {}
  .description {}
  .button-wrapper {}
  .button {}
}

%card-color-light {
  color: $body-text-color;
  > .content {}
  .article-image {}
  .image {
    img {}
  }
  .article-body {}
  .article-title {}
  .price {}
  .description {}
  .button-wrapper {}
  .button {}
}

%card-color-light-gray {
  @extend %card-color-light;
  > .content {
    background-color: $global-color-gray-1;
  }
  .article-image {}
  .image {
    img {}
  }
  .article-body {}
  .article-title {}
  .price {}
  .description {}
  .button-wrapper {}
  .button {}
}

//Card Layouts
%card-layout-default {
  @extend %card-color-light-gray;
  &%sticky-button {
    > .content {
      padding-bottom: $slug-height*1.3;
      position: relative;
    }
    .article-image {}
    .image {
      img {}
    }
    .article-body {}
    .article-title {}
    .price {}
    .description {
      margin-bottom: 0;
    }
    .button {
      bottom: $slug-height/3.333333333333333;
      left: $gutter-width;
      right: $gutter-width;
      position: absolute;
      padding-left: $gutter-width;
      padding-right: $gutter-width;
      //width: calc(100% - 40px);
    }
  }
  > .content {}
  .article-image {}
  .image {
    img {}
  }
  .article-body {
    padding: $slug-height/6 $gutter-width/2;
  }
  .article-title {}
  .price {}
  .description {}
  .button-wrapper {
    margin-bottom: 0;
  }
  .button {
    max-width: 100%;
    @include gridle_state(desktop) {
      padding-left: $gutter-width/2;
      padding-right: $gutter-width/2;
    }
  }
}

%card-layout-product {
  @extend %card-layout-default;
  @extend %product;
  > .content {}
  .article-image {}
  .image {
    img {}
  }
  .article-body {
    padding: $slug-height/6 $gutter-width;
  }
  .article-title {
    margin-bottom: $slug-height/12;
  }
  .price {
    font-weight: bold;
    margin-bottom: $slug-height/12;
  }
  .description {
    @include multiline-ellipsis(1.125, 1.25, 6, 16px, $global-color-gray-1);
  }
  .button-wrapper {}
  .button {}
}