%form,
form,
.form {//Form Container
	margin: $slug-height/4 0;
	padding: $slug-height/4 $gutter-width/1.333333333333333;
	@include clearfix;
	fieldset {
		@include clearfix;
		padding: 1em;
		border: $default-border;
		clear: both;
	}
	legend {//Legends
		background-color: #fff;
		width: auto;
	    padding: $slug-height/6 $gutter-width/1.333333333333333;
	    margin: $slug-height/6 $gutter-width/2;
	    border-bottom: none;
	    text-transform: uppercase;
	    font-weight: bold;
	}
	label {//Labels
		padding: $slug-height/12 0;
		margin-top: $slug-height/12;
		margin-bottom: 0;
		vertical-align: middle;
		display: block;
		width: 100%;
	}
	//Input Fields
	input,
	textarea,
	select {
		//padding: $slug-height/7.5 $gutter-width/2;
		padding: $slug-height/4 $gutter-width/2;
		margin: $slug-height/12 0;
		border: none;
		border: $default-border;
		//border-color: $global-color-quaternary;
		border-radius: 0;
		//box-shadow: $global-color-gray-1 1px 1px 5px inset;
		box-shadow: none;
		height: auto;
		font-size: 1em;
		line-height: 1;
		vertical-align: middle;
		display: block;
		width: 100%;
		// &:focus {//Focus style defined in _html.scss
		// }
		@include gridle_state(mobile-landscape tablet-portrait tablet-landscape desktop site-width) {
			display: inline-block;
			width: auto;
		}
		@include placeholder {
			transition: opacity 0.35s linear;
			color: $global-color-gray-3;
			opacity: 1;
		}
		&:focus {
			@include placeholder {
				opacity: 0;
			}
		}
	}
	textarea {
		min-height: 12.5em;
	}
	keygen {
	}
	input {
		&[type="checkbox"],
		&[type="radio"],
		&[type="range"] {
			box-shadow: none;
			min-height: .8125em;
		}
		&[type="color"] {
			height: 2.1875em;
			width: 2.1875em;
			padding: 0 .25em;
		}
		&[type="checkbox"],
		&[type="radio"] {
			width: 1.25em;
			height: 1.25em;
			vertical-align: middle;
		}
		&[type="color"],
		&[type="checkbox"],
		&[type="radio"] {
			border: none;
			margin: 0;
			@include gridle_state(wearable mobile-portrait) {
				display: inline-block;
			}
		}
		&[type="radio"] {
			position: absolute;
    		visibility: hidden;
    		& + label {
    			position: relative;
    			&:hover {
					cursor: pointer;
				}
    			&:before {
    				content: "";
    				width: 20px;
					height: 20px;
					background-color: #fff;
					border: 3px solid #fff;
					border-radius: 50%;
					position: absolute;
					right: 100%;
					margin-top: -5px;
					margin-left: 15px;
    			}
    		}
			&:checked {
				& + label {
	    			&:before {
						background-color: $global-color-tertiary;
	    			}
	    		}
			}
		}
	}
	//Buttons
	button,
	input[type="button"],
	input[type="submit"] {
		@extend %button;
		padding: $slug-height/6 $gutter-width;
		margin: $slug-height/12 0;
		vertical-align: middle;
		display: block;
		width: 100%;
		@include gridle_state(mobile-landscape tablet-portrait tablet-landscape desktop site-width) {
			display: inline-block;
			width: auto;
		}
	}
}
//Placeholders
@include placeholder {
	transition: opacity 0.35s linear;
	color: $global-color-gray-3;
	opacity: 1;
}