%social-menu {
  @include no-bullets;
  margin: 0;
  .nav-item {
    display: inline-block;
    margin: 0 $gutter-width/4;
    font-size: 1.375em;
    &:first-child {
      @include gridle_state(mobile-portrait mobile-landscape tablet-portrait tablet-landscape desktop site-width) {
        margin-left: 0;
      }
    }
    &:last-child {
      @include gridle_state(mobile-portrait mobile-landscape tablet-portrait tablet-landscape desktop site-width) {
        margin-right: 0;
      }
    }
    > .content {}
    a {
      color: $global-color-gray-5;
      display: block;
      &:hover {
        color: $global-color-primary;
      }
    }
    .icon {
      vertical-align: middle;
    }
    .label {
      @include remove;
      font-size: .4545454545454545em;
      letter-spacing: .0666666666666667em;
      text-transform: uppercase;
      vertical-align: middle;
    }
  }
  .facebook {
    > .content {}
    a {}
    .icon {
      @include icon-facebook;
    }
    .label {}
  }
  .twitter {
    > .content {}
    a {}
    .icon {
      @include icon-twitter;
    }
    .label {}
  }
  .pinterest {
    > .content {}
    a {}
    .icon {
      @include icon-pinterest;
    }
    .label {}
  }
  .instagram {
    > .content {}
    a {}
    .icon {
      @include icon-instagram;
    }
    .label {}
  }
}