var newalert = '<div class="site-alert">' +
    '<div class="alert-container">' +
    '<div class="alert-row">' +
    '<div class="alert">' +
    '<div class="content">' +
    '<span class="icon"></span>' +
    '<p class="message">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>' +
    '<button class="close"><span class="icon"></span></button>' +
    '</div>' +
    '</div>' +
    '</div>' +
    '</div>' +
    '</div>';















module.exports = newalert;