
.icon-icon:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\e802'; } /* '' */
.icon-youtube-play:before { content: '\e803'; } /* '' */
.icon-linkedin:before { content: '\e804'; } /* '' */
.icon-gplus:before { content: '\e805'; } /* '' */
.icon-instagram:before { content: '\e806'; } /* '' */
.icon-pinterest:before { content: '\e807'; } /* '' */
.icon-resize-full:before { content: '\e808'; } /* '' */
.icon-mail-alt:before { content: '\e809'; } /* '' */
.icon-location:before { content: '\e80a'; } /* '' */
.icon-vcard:before { content: '\e80b'; } /* '' */
.icon-qrcode:before { content: '\e80c'; } /* '' */
.icon-star-half-alt:before { content: '\e80d'; } /* '' */
.icon-star-half:before { content: '\e80e'; } /* '' */
.icon-left-open:before { content: '\e80f'; } /* '' */
.icon-up-open:before { content: '\e810'; } /* '' */
.icon-down-open:before { content: '\e811'; } /* '' */
.icon-right-open:before { content: '\e812'; } /* '' */
.icon-right-dir:before { content: '\e813'; } /* '' */
.icon-left-dir:before { content: '\e814'; } /* '' */
.icon-up-dir:before { content: '\e815'; } /* '' */
.icon-down-dir:before { content: '\e816'; } /* '' */
.icon-plus:before { content: '\e817'; } /* '' */
.icon-minus:before { content: '\e818'; } /* '' */
.icon-basket:before { content: '\e819'; } /* '' */
.icon-quote-left:before { content: '\e81a'; } /* '' */
.icon-quote-right:before { content: '\e81b'; } /* '' */
.icon-quote-left-alt:before { content: '\e81c'; } /* '' */
.icon-quote-right-alt:before { content: '\e81d'; } /* '' */
.icon-ok:before { content: '\e81e'; } /* '' */
.icon-warning:before { content: '\e81f'; } /* '' */
.icon-search-1:before { content: '\e820'; } /* '' */
.icon-blog:before { content: '\e821'; } /* '' */
.icon-shop:before { content: '\e822'; } /* '' */
.icon-contact:before { content: '\e823'; } /* '' */
.icon-cold:before { content: '\e824'; } /* '' */
.icon-hot:before { content: '\e825'; } /* '' */
.icon-organic:before { content: '\e826'; } /* '' */
.icon-vegan:before { content: '\e827'; } /* '' */
.icon-soap:before { content: '\e828'; } /* '' */
.icon-salts:before { content: '\e829'; } /* '' */
.icon-lotion:before { content: '\e82a'; } /* '' */
.icon-lotion-alt:before { content: '\e82b'; } /* '' */
.icon-gifts:before { content: '\e82c'; } /* '' */
.icon-health:before { content: '\e82d'; } /* '' */
.icon-perfumes:before { content: '\e82e'; } /* '' */
.icon-shampoo:before { content: '\e82f'; } /* '' */
.icon-scrubs:before { content: '\e830'; } /* '' */
.icon-toothpaste:before { content: '\e831'; } /* '' */
.icon-star-empty:before { content: '\e832'; } /* '' */
.icon-star:before { content: '\e833'; } /* '' */
.icon-cc-visa:before { content: '\e834'; } /* '' */
.icon-cc-mastercard:before { content: '\e835'; } /* '' */
.icon-cc-amex:before { content: '\e836'; } /* '' */
.icon-cc-discover:before { content: '\e837'; } /* '' */
.icon-cc-paypal:before { content: '\e838'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-credit-card:before { content: '\e83a'; } /* '' */
.icon-etsy:before { content: '\e83b'; } /* '' */
.icon-error-alt:before { content: '\e83c'; } /* '' */
.icon-soap-alt:before { content: '\e83d'; } /* '' */
.icon-cancel:before { content: '\e83e'; } /* '' */
.icon-location-1:before { content: '\e83f'; } /* '' */
.icon-th:before { content: '\e840'; } /* '' */
.icon-th-list:before { content: '\e841'; } /* '' */
.icon-th-large:before { content: '\e842'; } /* '' */
.icon-list:before { content: '\e843'; } /* '' */
.icon-chart-bar:before { content: '\e844'; } /* '' */
.icon-street-view-1:before { content: '\e845'; } /* '' */
.icon-print:before { content: '\e846'; } /* '' */
.icon-right-big:before { content: '\e847'; } /* '' */
.icon-up-big:before { content: '\e848'; } /* '' */
.icon-down-big:before { content: '\e849'; } /* '' */
.icon-left-big:before { content: '\e84a'; } /* '' */
.icon-chat:before { content: '\e84b'; } /* '' */
.icon-comment:before { content: '\e84c'; } /* '' */
.icon-mail:before { content: '\e84d'; } /* '' */
.icon-phone-1:before { content: '\e84e'; } /* '' */
.icon-resize-small:before { content: '\e84f'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-thumbs-down-alt:before { content: '\f165'; } /* '' */
.icon-chart-area:before { content: '\f1fe'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */
.icon-street-view:before { content: '\f21d'; } /* '' */
.icon-map-pin:before { content: '\f276'; } /* '' */
.icon-map-signs:before { content: '\f277'; } /* '' */
.icon-address-card:before { content: '\f2bb'; } /* '' */
.icon-address-card-o:before { content: '\f2bc'; } /* '' */